.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Rajdhani', sans-serif;
}
.content{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo{
    width: 45%;
    text-align: center;
}
.content .hi{
    font-size: 1.5rem;
    height: 1rem;
}
.content .name{
    font-size: 2rem;
    height: 6rem;
}
.content .role{
    font-size: 1rem;
    height: 3rem;
    color: #ff9727;
}
.content .home-btn{
    width: 30%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.home-btn button{
    padding: 0.5rem;
    border: none;
    background-color: #6e6f71;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 2px #000000;
}