.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Rajdhani', sans-serif;
  padding: 4rem 6%;
  gap: 2rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
}

.photo {
  text-align: center;
  z-index: 1;
  flex: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.my-photo {
  animation: 1s fadeInUp;
  width: 100%;
  max-width: 350px;
  height: auto;
}

.content .hi h3{
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  /* height: 1rem; */
  color: wheat;
}

.content .name h1{
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  /* height: 6.5rem; */
  color: white;
}

.content .role h2{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  /* height: 3.5rem; */
  color: #ff9727;
}

.content .home-btn {
  width: 50%;
  display: flex;
  gap: 2rem;
}

.neo-btn {
  position: relative;
  padding: 0.7rem 1.1rem;
  background: transparent;
  color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  z-index: 1;
}

.neo-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(90deg,
      red,
      transparent,
      red);
  background-size: 200% 200%;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  transition: background-position 0.7s ease, filter 0.4s ease;
  z-index: -1;
}

.neo-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, red, #000);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -2;
}

.neo-btn:hover::before {
  background-position: 100% 100%;
  filter: drop-shadow(0 0 10px red);
}

.neo-btn:hover::after {
  opacity: 0.25;
}

.neo-btn:hover {
  transform: translateY(-1px);
}

.neo-btn:active {
  transform: scale(0.96);
}

@media (max-width: 1024px){
  .home{
    border: 1px solid white;
  }
  .content{
    border: 1px solid red;
  }
  .hi{
    border: 2px solid yellow;
  }
}