.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Rajdhani', sans-serif;
    padding: 3rem 0 0 0;
}
.content{
    padding: 0 3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo{
    width: 45%;
    text-align: center;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.my-photo{
    animation: 1s fadeInUp;
}
.content .hi{
    font-size: 1.5rem;
    height: 1rem;
}
.content .name{
    font-size: 2rem;
    height: 6.5rem;
}
.content .role{
    font-size: 1rem;
    height: 3rem;
    color: #ff9727;
}
.content .home-btn{
    margin: 1rem 0;
    width: 40%;
    display: flex;
    gap: 2rem;
}
.home-btn button{
    padding: 0.7rem 1.1rem;
    border: none;
    background-color: #6e6f71;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 2px #000000;
}