.about{
    display: flex;
    gap: 1rem;
    padding: 6rem 2rem;
}

.about-container{
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 50%;
}
.about-container h1{
    text-decoration: underline;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: rgb(255, 130, 0);
}
.about-container p{
    font-size: 1.1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    line-height: 1.3rem;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.side-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 0rem 2rem 3rem;
    width: 40%;
}
.side-container .education{
    padding: 0.5rem 2rem;
    line-height: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(201, 241, 255, 0.416);
}
.education h2, .interests h2{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(100, 100, 100);
}
.btech, .hsc{
    line-height: 0.6rem;
}
.btech h3, .hsc h3{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
}
.btech .btech-info{
    width: 95%;
    margin: -1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btech-info p{
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 0.6rem;
    font-family: 'Rajdhani', sans-serif;
}
.hsc .hsc-info{
    width: 108%;
    margin: -1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hsc-info p{
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 0.6rem;
    font-family: 'Rajdhani', sans-serif;
}
.side-container .interests{
    padding: 0.5rem 2rem;
    line-height: 1.2rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(201, 241, 255, 0.416);
}
.interests-list{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
}