.about{
    display: flex;
    gap: 1rem;
    padding: 6rem 3rem;
}

.about-container{
    width: 60%;
}
.about-container h1{
    text-decoration: underline;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(100, 100, 100);
}
.about-container p{
    font-size: 1.1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    line-height: 1.3rem;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.side-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
    width: 40%;
}
.side-container .education{
    padding: 0.5rem 2rem;
    line-height: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(201, 241, 255, 0.416);
}
.education h2, .interests h2{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(100, 100, 100);
}
.education p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.2rem;
}
.side-container .interests{
    padding: 0.5rem 2rem;
    line-height: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(201, 241, 255, 0.416);
}
.interests-list{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
    font-size: 1.1rem;
}