.about{
    display: flex;
    gap: 1rem;
    padding: 5rem 2rem 0;
}

.about-container{
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.02));
    box-shadow: 0 0 20px rgba(0, 180, 255,0.15), inset 0 0 10px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 50%;
    height: 80%;
    margin: 2rem 0;
}
.about-container h1{
    text-decoration: underline;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #38bdf8;
    text-shadow:0 0 10px rgba(56, 189, 248, 0.35), 0 0 20px rgba(56, 189, 248, 0.15);
    letter-spacing: 0.05rem;
}
.about-container p{
    font-size: 1.1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    line-height: 1.3rem;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    color: rgb(255, 255, 255, 0.70);
}
.side-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 0rem 2rem 3rem;
    width: 40%;
}
.side-container .education{
    padding: 0.5rem 2rem;
    line-height: 1rem;
    border-radius: 10px ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.02));
    box-shadow: 0 0 20px rgba(0, 180, 255,0.15), inset 0 0 10px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.education h2, .interests h2{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(255, 234, 0);
    letter-spacing: 0.05rem;
    text-shadow: 0 0 10px rgba(255, 255, 70, 0.35), 0 0 20px rgba(56, 189, 248, 0.15);;
}
.btech, .hsc{
    line-height: 0.6rem;
}
.btech h3, .hsc h3{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.90);
}
.btech .btech-info{
    width: 95%;
    margin: -1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btech-info p, .hsc-info p{
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 0.6rem;
    font-family: 'Rajdhani', sans-serif;
}
.grade{
    color: white;
}
.hsc .hsc-info{
    width: 108%;
    margin: -1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.side-container .interests{
    padding: 0.5rem 2rem;
    line-height: 1.2rem;
    border-radius: 10px ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.02));
    box-shadow: 0 0 20px rgba(0, 180, 255,0.15), inset 0 0 10px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.interests-list{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: white;
}