.project-card{
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
}
.cards{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
}
.project-name{
    border: 2px solid #ff0000;
}
.project-desp{
    border: 2px solid #ff8800;
}
.project-skill{
    border: 2px solid #0004ff;
}
.project-code{
    border: 2px solid #dd00ff;
}