.project h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Rajdhani', sans-serif;
    margin: 1rem 0;
    counter-reset: section;
    color: white;
    text-shadow: 2px 2px 10px #ffffffa0;
}
.project-card{
    border: 1px solid #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
}
.cards{
    border: 1px solid rgb(255, 255, 255, 0.2);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.02));
    box-shadow: 0 0 20px rgba(253, 253, 253, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}
.project-name{
    text-align: center;
    color: white;
    border: 2px solid #ff0000;
}
.project-name h2{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}
.project-desp{
    border: 2px solid #ff8800;
    color: white;
    height: 50% ;
}

.project-code{
    text-align: center;
    border: 2px solid #dd00ff;
}
.project-code button{
    background-color: antiquewhite;
    border: 1px solid snow;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}