.project-card{
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
}
.cards{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
}
.project-name, .project-desp, .project-skill, .project-code{
    border: 1px solid #000000;
}