.navbar{
    display: inline-flex;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    width: 80%;
    margin: 0.5rem 10% 0 10%;
    position: fixed;
    z-index: 1000;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
.icon-menu{
    padding: 0.25rem;
}