.navbar{
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
    border-radius: 1rem;
    width: 80%;
    padding: 0;
    margin: 0.5rem 10% 0 10%;
    position: fixed;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
.icon-menu{
    padding: 0.25rem;
}