.navbar{
    display: flex;
    justify-content:space-evenly;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-link:hover{
    color: #1976d2;
}
.icon-menu{
    padding: 0.25rem;
}
