name: Trigger Jenkins CI

on:
  push:
    branches:
      - main

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Jenkins Webhook
        run: |
          curl -X POST \
          -H "Content-Type: application/json" \
          https://refrangible-irrevocably-shera.ngrok-free.dev/github-webhook/
